.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}

.left {
	float: left;
}

.right {
	float: right;
}
.centered {
	margin: 0 auto;
	&.mobile {
		@media (max-width: $tablet) {
			max-width: 326px;
		}
	}
}
.relative {
	position: relative;
}
@media (min-width: $tablet) {
	.centered {
		max-width: 900px;
	}
}