@media (min-width: 901px) {
	.page-wrapper  {
		max-width: 900px;
		display: grid;
		grid-template-columns: calc(900px - 226px) ($size__site-sidebar);
		grid-template-areas: "header header" "full-top full-top" "main sidebar" "full-bottom full-bottom" "footer footer";
		&.no-image {
			grid-template-areas: "header header" "full-top sidebar" "main sidebar" "full-bottom full-bottom" "footer footer";
		}
	}

	.site-header {
		grid-area: header;
	}
	.full-top {
		max-width: 900px;
		grid-area: full-top;
	}

	.site-main {
		grid-area: main;
	}

	.widget-area {
		grid-area: sidebar;
	}
	.full-bottom {
		max-width: 900px;
		grid-area: full-bottom;
	}

	.site-footer {
		grid-area: footer;
	}
}

#secondary {
	@media (max-width: $tablet) {
	}
}

@import "no-sidebar";
