$color__background-body: #141821;
$color__background-screen: #141821;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color_green: #C7F639;
$color_blue: #63D4E4;
$color_dark_blue: #141821;
$color_dark_grey: #252525;
$color_grey: #C1C1C1;


$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #ffffff; //royalblue
$color__link-visited: #ffffff; //purple
$color__link-hover: darken( $color__link, 10% ); //midnightblue
$color__text-main: #404040;

$color__border-button: #ffffff;
$color__border-button-hover: #ccc;
$color__border-button-focus: #aaa;
$color__border-input: #ccc;
$color__border-abbr: #666;
