$size__site-main: 100%;
$size__site-sidebar: 226px;
//Screens
$min-table:414px;
$min-table-min: 374px;
$min-table-max:567px;
$min-phone: 321px;
$tablet: 744px;
$tablet-album: 984px;
$desktop: 1080px;
$large-desktop: 1601px;
$aside-shown: 1366px;