.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
	.menu-wrapper {
		padding-top: 74px;
		background: $color_dark_blue;
		overflow: hidden;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		width: 232px;
		height: 100%;
		z-index: 10;
		.menu-main-menu-container {
			float: right;
			width: 190px;
			margin-right: 21px;
			margin-bottom: 25px;
			.menu-item {
				padding: 12px 0 12px 18px;
				text-transform: uppercase;
				font-size: 12px;
			}
		}
		.search-box,
		.account-box
		{
			clear: both;
			float: right;
			margin-top: 0;
		}
	}
}

/* Small menu. */
.toggle-target {
	display: none !important;
}
.menu-toggle {
	display: block;
}
.main-navigation.toggled ul,.main-navigation.toggled .toggle-target {
	display: block !important;
}

@media screen and (min-width: $desktop) {

	.menu-toggle {
		display: none;
	}

	.toggle-target {
		display: block !important;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
